{% extends "base.html" %}

{%block content%}


<div class="container">

	<h1 class="my-4 text-xl font-semibold text-gray-700 dark:text-gray-200">Password Reset Confirm</h1>
	<div class="">
		<form method="post" class="">
			{% csrf_token %}
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_new_password1">New
				password:</label>
			<input class="block px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="password" name="new_password1" autocomplete="new-password"
				required="" id="id_new_password1" aria-autocomplete="list">

			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_new_password2">New
				password confirmation:</label>
			<input class="block px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="password" name="new_password2" autocomplete="new-password"
				required="" id="id_new_password2">

			<div class="form-buttons pt-5">
				<button class="btn btn-primary" type="submit">
					Reset Password
				</button>
				{% for field in form %}
				{% if field.errors %}
				<small>{{ field.errors|striptags }}</small>
				{% endif %}
				{% endfor %}

			</div>
		</form>
	</div>
</div>
</div>

{%endblock content%}